@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0;
}

* {
  scroll-behavior: smooth;

  --scroll: 0;
}

div {
  /* border: 1px solid red; */
}
.bgNoise {
  background: #25282f url('http://assets.iceable.com/img/noise-transparent.png');
}
.bgSquare {
  background: #181a1f url('../public/squares.svg');
}
